<div class="menu-container">
    <div class="col-sm-3">
        <div class="left-sidebar">
            <h2> My Account </h2>
            <div class="panel-group category-products" id="accordian">
                <div class="panel panel-default">
                    <div id="sportswear" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li><a href="#"> Account </a></li>
                                <li><a href="#"> Wallet </a></li>
                                <li><a href="#"> Order History </a></li>
                                <li><a href="#"> Message Center </a></li>
                                <li><a href="#"> Settings </a></li>
                                <li><a [routerLink]="['/index']"> Log Out </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>