<header class="header-outer">
	<div class="header-inner responsive-wrapper">
		<div class="header-logo">
			<img src="assets\Logo.png" alt="Logo"/>
		</div>
	</div>
</header>
<div class="panel-group category-products" id="accordian">
	<div class="panel panel-default">
		<div class="panel-collapse collapse">
			<div class="panel-body">
				<ul>
					<li><a [routerLink]="['/index']"> Home </a></li>
                    <li><a href="#"> New </a></li>
					<li><a [routerLink]="['/login']"> Log in </a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="product" *ngIf="product">
    <img [src]="'assets/product/' + product.p_img" class="product-image">
    <div class="product-info">
        <h2 class="product-name">{{ product.p_name }}</h2>
        <h2 class="product-description">{{ product.p_descript }}</h2>
        <p class="product-price">Price: ${{ product.p_price }}</p>
        <div class="size-options">
            <button class="size-button">S</button>
            <button class="size-button">M</button>
            <button class="size-button">L</button>
            <button class="size-button">XL</button>
            <button class="size-button">2XL</button>
        </div>
        <div class="product-add">
            <div class="product-info">
                <button class="decrease-quantity">-</button>
                <span class="quantity">1</span>
                <button class="increase-quantity">+</button>
            </div>
        </div>  
        <div class="product-bottom">
            <!-- ปรับเปลี่ยน routerLink เพื่อนำไปยังหน้าเพจที่ต้องการ ในที่นี้เป็นหน้า login -->
            <button [routerLink]="['/login']" class="buy-button">Buy Now</button>
        </div>          
    </div>
</div>
