<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Category</h2>
        <div class="panel-group category-products" id="accordian">
            <div class="panel panel-default">
                <div id="sportswear" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a href="#"> new </a></li>
                            <li><a href="#"> shirts/tops </a></li>
                            <li><a href="#"> hoodies/sweaters </a></li>
                            <li><a href="#"> jackets </a></li>
                            <li><a href="#"> pants </a></li>
                            <li><a href="#"> sneakers </a></li>
                            <li><a href="#"> hats </a></li>
                            <li><a href="#"> accessories </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>