<div class="features_items">
    <div class="col-sm-4" *ngFor="let product2 of products2">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img [src]="product2.image">
                    <h2>${{ product2.price }}</h2>
                    <p>{{ product2.name }}</p>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <p>{{ product2.name }}</p>
                        <!-- ใช้ Angular Router Link Directive เพื่อทำเป็น link ไปยังหน้า Detail -->
                        <a [routerLink]="['/product-detail-index2', product2.name]" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Detail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>