<!-- product-shirts-index.component.html -->
<div class="features_items">
    <div class="col-sm-4" *ngFor="let product of product">
      <div class="product-image-wrapper">
        <div class="single-products">
          <div class="productinfo text-center">
            <img [src]="'assets/product/' + product.p_img">
            <h2>${{ product.p_price }}</h2>
            <p>{{ product.p_name }}</p>
          </div>
          <div class="product-overlay">
            <div class="overlay-content"> 
              <p>{{ product.p_name }}</p>
              <!-- เปลี่ยน routerLink เพื่อส่ง ID ไปยังหน้า product-detail -->
              <a [routerLink]="['/product-detail-index', product.p_id]" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Detail</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  